/*.fade {*/
    /*opacity:0.5;*/
/*}*/
/*.fade:hover {*/
    /*opacity:1;*/
/*}*/
/*.grow:hover {*/
    /*-webkit-transform: scale{1.3};*/
    /*-ms-transform: scale(1.3);*/
    /*transform: scale(1.3);*/
/*}*/

/*.grow {*/
    /*text-align: center;*/
/*}*/

h1 {
    color: green;
    background-color: beige;
}

body {
    background-color: beige;
}