<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
		<!-- CSS -->
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
{#		<!-- JavaScript -->#}
{#		<script src="{% static "js/jquery.js" %}"></script>#}
	</head>
	<body>
        <h1>Rango says...</h1>
            <div>
                hey there partner!
            </div>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        <p>Built by Alex Hughes, 2017<br />
            <a href="mailto:alxhghs@gmail.com">alxhghs@gmail.com</a>
        </p>
    </footer>
</html>