{%  extends "rango/base.html" %}
{% load staticfiles %}

{% block content %}
{%  if category %}
    <div>
        <h2>{{  category.name }}</h2>
        {%  if pages %}
            <ul>
            {%  for page in pages %}
                <li><a href="{{  page.url }}">{{ page.title }}</a></li>
            {%  endfor %}
            </ul>
            <img src="{% static "images/happy_rango.jpg" %}" alt="Picture of happy Rango" /><br />
        {% else %}
            <p><strong>No pages currently in category.</strong></p>
            <img src="{% static "images/sad_rango.jpg" %}" alt="Picture of sad Rango" /><br />
        {% endif %}
    {%  else %}
        <p>The specified category does not exist!</p>
        <img src="{% static "images/sad_rango.jpg" %}" alt="Picture of sad Rango" /><br />
    {% endif %}
    <p><a href="/rango/">Return to Index</a></p>
    </div>
{% endblock %}
