{%  extends "rango/base.html" %}
{% load staticfiles %}

{% block content %}
{%  if category %}
    <div>
        <h2>{{  category.name }}</h2>
        {%  if pages %}
            <ul>
            {%  for page in pages %}
                <li><a href="{{  page.url }}">{{ page.title }}</a></li>
            {%  endfor %}
            </ul>
        {% else %}
            <p><strong>No pages currently in category.</strong></p>
        {% endif %}
    {%  else %}
        The specified category does not exist!
    {% endif %}
    <a href="/rango/">Return to Index</a>
    </div>
{% endblock %}
