<!DOCTYPE html>

{% load staticfiles %}

<html>
	
	<head>
		<title>Rango</title>
		<!-- CSS -->
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
		<!-- JavaScript -->
		<script src="{% static "js/jquery.js" %}"></script>
	</head>
	
	<body>
    <h1>Rango says...</h1>
		<div>
			hey there partner! <br />
			<strong>{{ bold_message }}</strong><br />
		</div>
		<div>
			<! -- Image -->
			<img src="{% static "images/rango.jpeg" %}"
			      alt="Picture of Rango" />
		</div>
	</body>
</html>
